@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "SourceCodePro";
    src: local("SourceCodePro"),
    url("../SourceCodePro-VariableFont_wght.ttf") format("truetype");
    font-weight: normal;
}
* {
    font-family: SourceCodePro;
}