#tsparticles {
    position: fixed;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    z-index: -1;
}
@keyframes glow {
    from {}
    to {
        scale: 1.1;
        color: rgb(34 197 94 / var(--tw-text-opacity));
    }
}
.here {
    animation: glow infinite 2000ms ease-in-out alternate;
}