@font-face {
    font-family: "SourceCodePro";
    src: local("SourceCodePro"),
    url("./assets/SourceCodePro-VariableFont_wght.ttf") format("truetype");
    font-weight: normal;
}
* {
    font-family: SourceCodePro;
}